<h5>Employees Names</h5>

<table class="responsive-table striped highlight">
    <thead class="grey lighten-2">
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <%= for name <- @names do %>
        <tr>
            <td>
                <%= name %>
            </td>           
        </tr>
    <% end %>
</table>
<span>
    <%= link "Home" , to: Routes.page_path(@conn, :index) %>
</span> |
<span>
    <%= link "Add Another" , to: Routes.employee_path(@conn, :new) %>
</span>